.main_space{
    margin: 0;
    padding: 0;
}

.main_space .first_space{
    width: 100%;
    height: 829px;
    padding: 140px 220px 140px 220px;
    background: #043873;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main_space .first_space_left{
    width: 656px;
    height: 361px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_space .first_space_right{
    width: 824px;
    height: 549px;
    background-color: #4F9CF9;
}

.main_space .first_space_left p{
    width: 656px;
    height: 154px;
    font-size: 64px;
    font-weight: 700;
    line-height: 77.45px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
}

.main_space .first_space_left span{
    width: 656px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
    display: flex;
}

.main_space .first_space_left button{
    width: 219px;
    height: 63px;
    padding: 20px;
    border-radius: 8px;
    border: none;
    background: #4F9CF9;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.main_space .first_space_left button svg{
    font-size: 20px;
}

/* second_space */

.main_space .second_space{
    width: 100%;
    height: 1588px;
    padding: 140px 220px 140px 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* second_top css */

.second_space .second_top{
    width: 100%;
    height: 547px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main_space .second_top .second_top_left{
    width: 672px;
    height: 411px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_space .second_top .second_top_right{
    width: 748px;
    height: 547px;
    background: #C4DEFD;
}

.main_space .second_top_left p{
    width: 580px;
    height: 174px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    letter-spacing: -0.02em;
    text-align: left;
}

.main_space .second_top_left span{
    width: 672px;
    height: 90px;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
}

.main_space .second_top_left button{
    width: 201px;
    height: 63px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 6px;
    background: #4F9CF9;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
    border: none;
}

.main_space .second_top_left button svg{
    font-size: 1.3em;
}

/* Second_bottom css */

.main_space .second_bottom{
    width: 100%;
    height: 661px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* second_bottom left */

.main_space .second_bottom .second_bottom_left{
    width: 710px;
    height: 661px;
}

.main_space .second_bottom .second_bottom_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* second bottom right */

.main_space .second_bottom .second_bottom_right{
    width: 670px;
    height: 294px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_space .second_bottom .second_bottom_right p{
    width: 670px;
    height: 87px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #212529;
}

.main_space .second_bottom .second_bottom_right span{
    width: 670px;
    height: 60px;
    display: flex;
}

.main_space .second_bottom .second_bottom_right button{
    width: 186px;
    height: 63px;
    padding: 20px 40px 20px 40px;
    border-radius: 6px;
    background: #4F9CF9;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;
    border: none;
}

.second_bottom_right svg{
    font-size: 1.4em;
}

/* third_space */

.main_space .third_space{
    width: 100%;
    height: 759px;
    background: #043873;
    padding: 140px 220px 140px 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* third space left */
.third_space .third_space_left{
    width: 697px;
    height: 294px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.third_space_left p{
    width: 697px;
    height: 87px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
}

.third_space_left span{
    width: 697px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
    display: flex;
}

.third_space_left button{
    width: 171px;
    height: 63px;
    padding: 20px 40px 20px 40px;
    border-radius: 6px;
    background: #4F9CF9;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
    border: none;
}

.third_space_left button svg{
    font-size: 1.4em;
}

/* third space right */
.third_space .third_space_right{
    width: 686px;
    height: 479px;
    background: #C4DEFD;
}

/* fourth space */

.main_space .fourth_space{
    width: 100%;
    height: 812.09px;
    padding: 140px 220px 140px 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* fourth space left */

.main_space .fourth_space_left{
    width: 714px;
    height: 532.09px;
    background: #C4DEFD;
}

/* fourth space right */

.main_space .fourth_space_right{
    width: 669px;
    height: 411px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_space .fourth_space_right p{
    width: 530px;
    height: 174px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    letter-spacing: -0.02em;
    text-align: left;
    color:#212529;
}

.main_space .fourth_space_right span{
    width: 669px;
    height: 90px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #212529;
    display: flex;
}

.main_space .fourth_space_right button{
    width: 171px;
    height: 63px;
    border: none;
    padding: 20px 40px 20px 40px;
    border-radius: 8px;
    background: #4F9CF9;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;
}

.main_space .fourth_space_right button svg{
    font-size: 1.4em;
}

/* five space */

.main_space .five_space{
    width: 100%;
    height: 1272px;
    padding: 140px 220px 140px 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* five space top */

.five_space .five_space_top{
    width: 100%;
    height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.five_space_top p{
    width: 100%;
    height: 87px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    letter-spacing: -0.02em;
    text-align: center;
}

.five_space_top span{
    width: 100%;
    height: 60px;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    align-items: center;
    justify-content: center;
}

/* five space bottom */

.main_space .five_space .five_space_bottom{
    width: 100%;
    height: 761px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* card bay */

.five_space_bottom .five_bottom_card1{
    width: 472.33px;
    height: 634px;
    padding: 40px 44px 40px 44px;
    border-radius: 10px;
    border: 1px solid #FFE492;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.five_space_bottom .five_bottom_card1:hover{
    cursor: pointer;
    background: #043873;
    color: white;
    h2,svg{
        color: #FFE492;
    }
    .btnstart{
        background: #4F9CF9;
        color: white;
        border: none;
    }
    border: none;
}

.five_bottom_card1 .card_child1{
    width: 384.33px;
    height: 153px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
}

.card_child1 h2{
    font-weight: 700;
}

.five_bottom_card1 .card_child2{
    width: 384.33px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_child2 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.five_bottom_card1 button{
    width: 166px;
    height: 51px;
    border-radius: 8px;
    border: 1px solid #FFE492;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
}

/* six space card */

.main_space .six_space{
    width: 100%;
    height: 574px;
    top: 5352.09px;
    padding: 140px 220px 140px 220px;
    background: #043873;
}

.six_space .six_space_top{
    width: 100%;
    height: 294px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.six_space_top .six_top_child1{
    width: 1064px;
    height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.six_top_child1 p{
    width: 1064px;
    height: 87px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.six_space_top span{
    width: 1064px;
    height: 60px;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFFFF;
}

.six_space_top button{
    width: 195px;
    height: 63px;
    border-radius: 8px;
    background: #4F9CF9;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
    svg{
        font-size: 1.4em;
    }
    border: none;
}

/* seven_space */

.main_space .seven_space{
    width: 100%;
    height: 661.13px;
    padding: 140px 220px 140px 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* seven left */
.seven_space .seven_left{
    width: 800px;
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
        width: 800px;
        height: 87px;
        font-size: 72px;
        font-weight: 700;
        line-height: 87.14px;
        letter-spacing: -0.02em;
        text-align: left;
    }
    span{
        width: 800px;
        height: 90px;
        display: flex;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: left;
    }
    button{
        width: 197px;
        height: 63px;
        border-radius: 8px;
        background: #4F9CF9;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        border: none;
        color: #FFFFFF;
        svg{
            font-size: 1.4em;
        }
    }
}
/* seven right */
.seven_space .sevrn_right{
    width: 681px;
    height: 381.13px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* eight space */

.main_space .eight_space{
    width: 100%;
    height: 538px;
    padding: 140px 220px 140px 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* eight space top */

.eight_space .eight_space_top{
    width: 100%;
    height: 87px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    letter-spacing: -0.02em;
    text-align: center;
}

/* eight space bottom */

.eight_space .eight_space_bottom{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.eight_space_bottom .apple{
    width: 70px;
    height: auto;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.eight_space_bottom .microsoft{
    width: 287px;
    height: auto;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.eight_space_bottom .slack{
    width: 280px;
    height: auto;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.eight_space_bottom .google{
    width: 287px;
    height: auto;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/* nine space */
.main_space .nine_space{
    width: 100%;
    height: 750.8px;
    padding: 140px 220px 140px 220px;
    background: #043873;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* nine space left */

.nine_space .nine_space_left{
    width: 582px;
    height: 470.8px;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/* nine space right */

.nine_space .nine_space_right{
    width: 798px;
    height: 468px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
        width: 700px;
        height: 261px;
        font-size: 72px;
        font-weight: 700;
        line-height: 87.14px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    span{
        width: 798px;
        height: 60px;
        display: flex;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    button{
        width: 194px;
        height: 63px;
        border-radius: 8px;
        background: #4F9CF9;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        border: none;
        svg{
            font-size: 1.4em;
        }
    }
}

/* ten space */

.main_space .ten_space{
    width: 100%;
    height: 994.46px;
    padding: 140px 220px 140px 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ten space top */

.ten_space .ten_space_top{
    width: 100%;
    height: 84px;
    font-size: 70px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
}

.ten_space .ten_space_bottom{
    width: 100%;
    height: 498.46px;
}

/* Slider space */
.slider_wrap {
    width: 471.67px;
    height: 498.46px;
    padding: 60px 40px 60px 40px;
    gap: 60px;
    border-radius: 10px;
    overflow: hidden; /* Ensures content does not overflow */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .slider_top {
    width: 383px;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .user_description{
    width: 246px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .name{
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
    }
    .des{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: left;
    }
  }
  
  .slider_bottom {
    width: 391.67px;
    height: 223.46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .slider_bottom_dtl{
    width: 391.67px;
    height: 90px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .slider_bottom_cots{
    width: 86px;
    height: 61.46px;
    font-size: 7em;
  }

  /* eleven space */

  .main_space .eleven_space{
    width: 100%;
    height: 705px;
    padding: 140px 220px 32px 220px;
    background: #043873;
    display: flex;
    justify-content: center;
  }

  /* eleven space head */

  .eleven_space .eleven_head{
    width: 608px;
    height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p{
        width: 608px;
        height: 174px;
        font-size: 72px;
        font-weight: 700;
        line-height: 87.14px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #FFFFFF;
    }
    span{
        width: 550px;
        height: 64px;
        display: flex;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #FFFFFF;
    }
    button{
        width: 218px;
        height: 59px;
        border-radius: 10px;
        background: #4F9CF9;
        border: none;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        svg{
            font-size: 1.4em;
        }
    }
    .contact_sales{
        width: 367px;
        height: 32px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.02em;
        text-align: center;        
    }
    .operating_systems{
        width: 260px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .os{
            width: 60px;
            height: 60px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
  }

  /* footer */

  .main_space .footer{
    width: 100%;
    height: 550px;
    background: #043873;
    padding: 140px 220px 32px 220px;
  }

  .footer .main_footer_cont{
    width: 100%;
    height: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main_footer_cont .footer_top{
    width: 100%;
    height: 220px;
  }
/* footer_top child1 */
  .footer_top_child1{
    width: 205.25px;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
   .top_child1_logo{
    width: 191px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
        width: 37px;
        height: 29px;
        object-fit: cover;
    }
    p{
        width: 144px;
        height: 34px;
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: left;
        color: #FFFFFF;
    }
   }

   .top_child1_desc{
    width: 100%;
    height: 120px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
   }

.main_footer_cont hr{
    border: 1px solid #2E4E73;
}

/* footer_top child1 */
.footer_top_child2{
    width: 205.25px;
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    p{
        font-size: 18px;
        font-weight: 700;
        line-height: 21.78px;
        letter-spacing: -0.02em;
        text-align: left;
    }
    a{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #FFFFFF;
        text-decoration: none;
    }
    a:hover{
        color: #FFE492;
    }
}

/* footer top child3  */
.footer_top_child3{
    width: 259px;
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
        width: 155px;
        height: 36px;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #FFFFFF;
    }
    span{
        width: 259px;
        height: 40px;
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #FFFFFF;
    }
    button{
        width: 186px;
        height: 60px;
        border-radius: 8px;
        border: none;
        background: #4F9CF9;
        color: #FFFFFF;
        svg{
            font-size: 1.4em;
        }
    }
}

/* footer bottom */
  .main_footer_cont .footer_bottom{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* footer bottom left */
.footer_bottom_left{
    width: 737px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.bottom_child1{
    display: flex;
    flex-direction: row;
    align-items: center;
    svg{
        color: #FFFFFF;
    }
}

.bottom_child2{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* footer bottom right */
.footer_bottom_right{
    width: 105px;
    height: 16.68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer_media{
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            color: #FFFFFF;
            height: 100%;
            width: 100%;
        }
    }
}

.footer_bottom_right svg:hover{
    color: #FFE492;
    cursor: pointer;
}

/* Starts responsive */

@media screen and (max-width: 1940px) {
    .main_space .first_space_right ,
    .main_space .second_top .second_top_right,
    .main_space .second_bottom .second_bottom_left,
    .third_space .third_space_right ,
    .main_space .fourth_space_left,
    .seven_space .sevrn_right,
    .nine_space .nine_space_left{
        width: 100%;
        height: 108%;
    }

    .main_space .first_space,
    .main_space .second_top,
    .main_space .second_bottom,
    .main_space .third_space,
    .main_space .fourth_space,
    .main_space .five_space,
    .main_space .seven_space,
    .main_space .eight_space,
    .main_space .nine_space{
        gap: 20px;
    }
}

@media screen and (max-width: 1440px) { 
    .main_space .first_space,
    .main_space .second_space,
    .main_space .third_space,
    .main_space .fourth_space,
    .main_space .five_space,
    .main_space .seven_space,
    .main_space .six_space,
    .main_space .eight_space,
    .main_space .nine_space,
    .main_space .ten_space,
    .main_space .eleven_space,
    .main_space .footer{
        padding: 25px;
        height: auto;
        gap: 25px;
    }

    .main_space .first_space,
    .main_space .second_top,
    .main_space .second_bottom,
    .main_space .third_space,
    .main_space .fourth_space,
    .main_space .five_space,
    .main_space .seven_space,
    .main_space .eight_space,
    .main_space .nine_space{
        gap: 20px;
    }

    .five_bottom_card1 .card_child1,
    .five_bottom_card1 .card_child2 {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) { 
    .main_space .first_space,
    .main_space .second_top,
    .main_space .second_bottom,
    .main_space .third_space,
    .main_space .fourth_space,
    .main_space .five_space,
    .main_space .seven_space,
    .main_space .eight_space,
    .main_space .nine_space{
        flex-direction: column;
        height: auto;
        gap: 25px;
    }

    .main_space .first_space,
    .main_space .second_space,
    .main_space .third_space,
    .main_space .fourth_space,
    .main_space .five_space,
    .main_space .seven_space,
    .main_space .six_space,
    .main_space .eight_space,
    .main_space .nine_space,
    .main_space .ten_space,
    .main_space .eleven_head,
    .main_space .footer{
        height: auto;
    }

    .five_bottom_card1 .card_child1,
    .five_bottom_card1 .card_child2 {
        width: 100%;
    }

    .five_space_bottom .five_bottom_card1{
        padding: 10px;
    }

    .six_space_top .six_top_child1,
    .six_top_child1 p,
    .six_space_top span,
    .main_space .first_space_left,
    .main_space .first_space_left p,
    .main_space .first_space_left span,
    .main_space .second_top .second_top_left,
    .main_space .second_top_left p ,
    .main_space .second_top_left span ,
    .main_space .second_bottom .second_bottom_right ,
    .main_space .second_bottom .second_bottom_right p ,
    .main_space .second_bottom .second_bottom_right span,
    .third_space .third_space_left,
    .third_space_left p ,
    .third_space_left span ,
    .five_space_top span ,
    .main_space .fourth_space_right ,
    .main_space .fourth_space_right p,
    .main_space .fourth_space_right span ,
    .seven_space .seven_left ,
    .seven_space .seven_left p,
    .seven_space .seven_left span,
    .nine_space .nine_space_right,
    .nine_space .nine_space_right p,
    .nine_space .nine_space_right span,
    .eleven_space .eleven_head ,
    .eleven_space .eleven_head p,
    .eleven_space .eleven_head span,
    .eleven_space .eleven_head .contact_sales{
        width: 100%;
        height: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .main_footer_cont .footer_top {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .footer .main_footer_cont {
        height: auto;
    }

    .main_footer_cont .footer_top,
    .footer_top_child3  {
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .main_space .first_space_right ,
    .main_space .second_top .second_top_right,
    .main_space .second_bottom .second_bottom_left,
    .third_space .third_space_right ,
    .main_space .fourth_space_left,
    .seven_space .sevrn_right,
    .nine_space .nine_space_left{
        width: 100%;
        height: 64vh;
    }
}

@media screen and (max-width: 768px) { 
    .six_top_child1 p,
    .main_space .first_space_left p,
    .main_space .second_top_left p ,
    .main_space .second_bottom .second_bottom_right p ,
    .third_space_left p ,
    .five_space_top p,
    .eight_space .eight_space_top,
    .main_space .fourth_space_right p,
    .seven_space .seven_left p,
    .nine_space .nine_space_right p,
    .eleven_space .eleven_head p,
    .ten_space .ten_space_top {
        font-size: 3em;
    }

    .five_space_bottom .five_bottom_card1{
        padding: 10px;
    }

    .main_space .first_space_right ,
    .main_space .second_top .second_top_right,
    .main_space .second_bottom .second_bottom_left,
    .third_space .third_space_right ,
    .main_space .fourth_space_left,
    .seven_space .sevrn_right,
    .nine_space .nine_space_left{
        width: 100%;
        height: 65vh;
    }
    
    .eight_space .eight_space_bottom {
        height: auto;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .slider_wrap,
    .slider_bottom,
    .slider_top,
    .slider_bottom_dtl,
    .slider_bottom_dtl p,
    .slider_bottom_dtl{
        width: 100%;
    }

    .main_footer_cont .footer_bottom {
        height: auto;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .footer_bottom_left {
        width: 100%;
        gap: 20px;
    }
    .footer_bottom_right {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 576px) { 
    .six_top_child1 p,
    .main_space .first_space_left p,
    .main_space .second_top_left p ,
    .main_space .second_bottom .second_bottom_right p ,
    .third_space_left p ,
    .five_space_top p,
    .eight_space .eight_space_top,
    .main_space .fourth_space_right p,
    .seven_space .seven_left p,
    .nine_space .nine_space_right p,
    .eleven_space .eleven_head p,
    .ten_space .ten_space_top {
        font-size: 2em;
    }
    
    .main_space .five_space .five_space_bottom {
        height: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .main_footer_cont .footer_bottom {
        gap: 8px;
    }

    .footer_bottom_left {
        gap: 2px;
        flex-direction: column;
        height: auto;
        margin-bottom: 40px;
    }

    .main_space .first_space_right,
    .main_space .second_top .second_top_right,
    .main_space .second_bottom .second_bottom_left,
    .third_space .third_space_right, 
    .main_space .fourth_space_left, 
    .seven_space .sevrn_right, 
    .nine_space .nine_space_left {
        width: 100%;
        height: 45vh;
    }

    .user_description {
        .name {
            font-size: 16px;
        }
        .des {
            font-size: 14px;
        }
    }

    .bottom_child2 {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer_top_child1,
    .footer_top_child2,
    .footer_top_child3{
        justify-content: center;
        align-items: center;
        .top_child1_desc,span{
            text-align: center;
        }
    }
}

@media screen and (max-width: 360px) {
    .main_space .first_space_right,
    .main_space .second_top .second_top_right,
    .main_space .second_bottom .second_bottom_left,
    .third_space .third_space_right, 
    .main_space .fourth_space_left, 
    .seven_space .sevrn_right, 
    .nine_space .nine_space_left {
        width: 100%;
        height: 47vh;
    }
}