.homecont .contfirst{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.firstcont{
    padding-left: 50px;
    padding-top: 50px;
}
.firstcont .hedings{
    font-size: 4.5em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.firstcont .dtl{
    color:rgb(26, 190, 26);
    margin-left: 200px;
}

.homecont .searchbox{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 600px;
    padding: 15px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}

.homecont .location{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.homecont .locationdetail{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.homecont .searchbar svg{
    font-size: 30px;
    color: white;
}

.homecont  svg{
    font-size: 20px;
}

.homecont .locationdtl{
    font-size: 0.9em;
}

.homecont .locationdtl span{
    font-weight: 700;
}

.homecont .locationdtl p{
    color: gray;
}

.homecont .searchbar{
    align-content: center;
    text-align: center;
    border: 2px solid black;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: black;
}

.homecont .paragraph{
    width: 450px;
    font-size:0.8em;
    line-height: 30px;
}

.homecont .storeadj{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.homecont .store{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    width: 125px;
    background-color: black;
    border-radius: 5px;
    padding: 2px 0 0 2px;
    cursor: pointer;
    gap: 5px;
}
.homecont .storeimg svg{
    font-size: 30px;
    color: white;
}
.homecont .storenam{
    display: flex;
    flex-direction: column;
    line-height: 14px;
    color: white;
}

.homecont .storenam a{
    font-size: 1.4em;
    text-decoration: none;
    color: white;

}

.homecont .storenam span{
    font-size: 0.7em;
}

.homecont .secondcont{
    position: relative;
    height: 592px;
}
.homecont .contdtails{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(26, 190, 26);;
    font-size: 200px;
    color: transparent;
    letter-spacing: 40px;
    font-family: 'Nico Moji', sans-serif;
}

.homecont .scontimg{
    width: 455px;
    height: 546px;
    top: 46px;
    left: 283px;
    position: absolute;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.contsecond{
    padding: 80px 170px;
    background-color: rgb(248, 244, 244);
}

.contsecond .contsecheadadj{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contsecond .contsechead{
    font-size: 3em;
}

.contsecond .contsechead .exchangcolor{
    color: rgb(26, 190, 26);
}

.contsecond .sportdtl{
    border-left: 4px solid rgb(26, 190, 26);
    width: 350px;
    line-height: 20px;
    height: 63px;
    padding-left: 10px;
    margin-left: 272px;
    margin-top: 55px;
}

.homecont .contboxes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}

.homecont .contbox{
    width: 330px;
    margin-top: 70px;
}

.homecont .boximg{
    border: 2px solid white;
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.contbox svg{
    font-size: 3.8em;
    background-color: white;
    color: rgb(26, 190, 26);
}

.contbox .boxtype{
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 10px;
}

.contbox .boxdtl{
    font-size: small;
    color: gray;
    line-height: 30px;
}

.contthird{
    padding: 110px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.homecont .contthird .contthirdleft .thirdconthead p{
    font-size: 3em;
    width: 480px;
}

.homecont .contthirdleft span{
    color: rgb(26, 190, 26);
}

.homecont .thirdcont{
    width: 480px;
}
.homecont .contthirdleft .thirdcont p{
    font-size: 1.2em;
    font-weight: 500;
}

.homecont .useradj{
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 480px;
}

.homecont .contthird .contthirdleft .useingdtl .usecount span{
    font-size: 1.8em;
}

.homecont .contthird .contthirdleft .useingdtl .usedtl span{
    color: black;
    font-weight: 600;
}

.homecont .appdtl{
    border: 1px solid whitesmoke;
    width: 210px;
    border-radius: 15px;
    display: flex;
    background-color: rgb(248, 244, 244);
    flex-direction: row;
}

.homecont .contthirdright{
    margin-left: 215px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.homecont .appdtl1{
    padding: 10px 0 10px 15px;
}

.homecont .appdtl .appdtl1 .appios span{
    font-size: 1.5em;
    font-weight: 600;
}

.homecont .appdtl .appdtl1 .appios15 span{
    color: gray;
    font-weight: 500;
}

.homecont .appdtl .appdtl1 button{
    height: 30px;
    width: 130px;
    color: white;
    background-color: rgb(26, 190, 26);
    border-radius: 15px;
    margin-bottom: 10px;
    border: none;
}

.homecont .appdtl .appdtl1 .appqr{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.homecont .appdtl .appdtl1 svg{
    font-size: 6.3em;
}

.homecont .logoapp{
    border-radius: 100%;
    height: 80px;
    width: 80px;
    align-content: center;
    text-align: center;
    background-color: white;
}

.homecont .logoapp svg{
    height: 50px;
    width: 50px;
}

.homecont .applogo{
    margin-top: 140px;
}

.homecont .contfour{
    border: 2px solid black;
    background-color: rgb(17, 16, 16);
    color: white;
    padding: 30px 80px;
    height: 450px;
}

.homecont .conttop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.homecont .cont_dtl p{
    font-size: 1.2em;
}

.homecont .cont_dtl1{
    font-size: 3em;
    width: 400px;
}

.homecont .cont_dtl1 span{
    color: rgb(26, 190, 26);
}

.homecont .cont_dtlright svg{
    color: black;
    height: 50px;
    width: 50px;
}

.homecont .cont_dtlright{
    border-radius: 100%;
    height: 80px;
    width: 80px;
    align-content: center;
    text-align: center;
    background-color: white;
    margin-top: 80px;
}

.homecont .contfive{
    padding: 0 90px;
}

.homecont .hovercards{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
}

.homecont .hovercard{
    border: 2px solid black;
    height: 400px;
    width: 400px;
    margin-top: -200px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.homecont .hovercard:hover{
    transform: translateY(-20px);
}

.homecont .hovercard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*contsix start from here*/
.homecont .contsix{
    padding: 30px 90px;
}

.homecont .contsixhead{
    font-weight: 500;
    text-align: center;
}

.homecont .contsixhead1{
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}

.homecont .slider{
    margin-bottom: 180px;
}

.homecont .contsixhead1 span{
    color: rgb(26, 190, 26);
}

.homecont .download_box{
    border: 1px solid;
    height: 290px;
    border-radius: 15px;
    background-color: rgb(12, 133, 12);
    color: white;
    justify-items: center;
    margin-bottom: -100px;
    position: relative; /* Add position property */
    z-index: 1; /* Higher z-index means it will appear on top */
}

.homecont .headline{
    font-size: 1em;
    text-align: center;
}

.homecont .headline span{
    font-size: 2em;
    text-align: center;
}

.homecont .headline3{
    font-size: 1em;
    text-align: center;
    width: 500px;
}

/* footer start from here */

.homecont .footer{
    background-color: rgb(17, 16, 16);
    border: 2px solid black;
    height: auto;
    padding: 114px 117px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homecont .footerimg{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: white;
}
.homecont .footerimgnm{
    font-size: 1.2em;
}
.homecont .footerimmg{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 200px;
}

.homecont .footercont{
    width: 450px;
    color: white;
    margin-top: 20px;
}

.homecont .footercontimg{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.homecont .footercontimg .footerimg{
    height: 40px;
    width: 40px;
}

.homecont .footersecond .footercom{
    color: white;
    font-weight: 500;
}

.homecont .footersecond .footercom1 a{
    text-decoration: none;
    color: white;
}

.homecont .footersecond .footercom1 a:hover{
    text-decoration: underline white 2px;
    color: rgb(12, 133, 12);
}

.homecont .footerthired .footercom{
    color: white;
    font-weight: 500;
}

.homecont .footerthired .footercom1,a{
    text-decoration: none;
    color: white;
}

.homecont .footerthired .footercom1 a:hover{
    text-decoration: underline white 2px;
    color: rgb(12, 133, 12);
}

@media screen and (max-width: 1440px) { 
    .homecont .contfirst,
    .contsecond,
    .contthird,
    .homecont .contfour{
        padding: 10px;
    }

    .firstcont .hedings {
        font-size: 3em;
    }

    .homecont .contdtails {
        font-size: 135px;
    }

    .homecont .scontimg {
        left: 195px;
        width: 58%;
    }
}

@media screen and (max-width: 1200px) { 
    .homecont .contfirst,
    .contsecond,
    .contthird{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 30px;
    }

    .firstcont {
        padding: 0;
    }

    .homecont .contthirdright {
        margin: 0;
    }
}

@media screen and (max-width : 991px){
    .homecont .contboxes {
        justify-content: center;
        flex-wrap: wrap;
    }

    .homecont .footer {
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }

    .homecont .contfive {
        padding: 10px 10px;
    }

    .homecont .hovercards {
        gap: 2px;
    }
}

@media screen and (max-width : 768px) {
    .homecont .contdtails {
        font-size: 130px;
    }

    .homecont .scontimg {
        left: 158px;
        width: 63%;
        height: auto;
        top: 46px;
    }

    .contsecond .contsechead {
        width: 100%;
        display: flex;
    }

    .contsecond .sportdtl {
        width: 100%;
        margin-left: 100px;
    }
}

@media screen and (max-width : 576px) {
    .homecont .searchbox {
        width: 100%;
        padding: 5px;
        border-radius: 15px;
        justify-content: space-between;
    }

    .contsecond .contsechead {
        font-size: 2em;
    }

    .homecont .searchbar,
    .homecont .locationdetail {
        margin: 0;
    }  
    
    .contsecond .sportdtl {
        margin-top: 55px;
        margin-left: 0;
    }

    .contsecond .contsecheadadj {
        flex-direction: column;
    }

    .homecont .footer {
        padding: 90px 20px 20px 20px;
    }

    .homecont .footercont,
    .homecont .headline3 {
        width: 100%;
        font-size: 14px;
    }
    
    .homecont .headline span {
        font-size: 1em;
    }

    .homecont .storeadj {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        gap: 10px;
    }

    .homecont .download_box{
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .homecont .contdtails {
        font-size: 100px;
        width: 100%;
    }

    .homecont .scontimg {
        left: 129px;
        width: 63%;
        top: 0px;
    }

    .homecont .secondcont {
        height: 422px;
    }

    .homecont .contbox {
        width: 100%;
    }

    .homecont .cont_dtl1 {
        font-size: 3em;
        width: 100%;
    }
}

@media screen and (max-width : 480px) {
    .homecont .contdtails {
        font-size: 70px;
    }

    .homecont .scontimg {
        left: 117px;
        width: 53%;
    }

    .homecont .secondcont {
        height: 284px;
    }

    .firstcont .hedings {
        font-size: 1.5em;
    }

    .homecont .contthird .contthirdleft .thirdconthead p {
        font-size: 1em;
        width: 100%;
    }

    .homecont .contthirdleft .thirdcont p {
        font-size: 14px;
        font-weight: 500;
    }

    .homecont .useradj {
        width: 100%;
        gap: 20px;
    }

    .homecont .contthirdright {
        flex-wrap: wrap;
        justify-content: center;
    }

    .homecont .thirdcont {
        width: 100%;
    }

    .homecont .conttop {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homecont .cont_dtl1 p{
        font-size: 20px;
        margin: 0;
    }

    .contfourt_dtl{
        width: 100%;
    }

    .homecont .paragraph{
        width: 100%;
    }

    .homecont .contsix {
        padding: 20px;
    }

    .homecont .hovercards {
        gap: 2px;
    }

    .homecont .contfive {
        padding: 10px 10px;
    }

    .homecont .hovercard {
        height: 200px;
    }

    .homecont .hovercard {
        margin-top: -110px;
    }
}

@media screen and (max-width : 380px){
    .homecont .contdtails {
        font-size: 35px;
    }

    .homecont .scontimg {
        left: 84px;
        width: 53%;
    }

    .homecont .secondcont {
        height: 207px;
    }
}