.tech_products{
    border: 2px solid black;
    max-width: 1440px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tech_products .tech_left{
    width: 652px;
}
.tech_products .tech_name_circle{
    border: 2px solid black;
    height: 101px;
    width: 101px;
}

.tech_products .tech_details{
    font-family: Playfair Display;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 629px;
    margin-top: 50px;
}

.tech_products p{
    width: 629px;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #333333;
    margin-top: 20px;
}

.tech_products .butn{
    display: flex;
    gap: 25px;
}

.butn button{
    width: 254px;
    height: 66px;
    padding: 20px 48px 24px 48px;
    gap: 10px;
    border-radius: 16px;
    background-color: white;
}

.butn button:hover{
   background-color: #050505;
   color: white;
}

.tech_products .tech_dtlbox{
    width: 652px;
    height: 118px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    border-radius: 24px;
    border: 1px solid black;
    margin-top: 50px;
}

.tech_products .dtlchild1{
    height: 70px;
    width: 91px;
}

.tech_products .dtlchild1 svg{
    font-size: 24px;
}

.tech_products .child1_dtl{
    line-height: 18.77px;
    margin-top: 7px;
}

.tech_products .tech_right{
    height: 778.19px;
    width: 635.31px;
    position: relative;
}

.tech_right .right_smallchild_box1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 6px;
    top: 32px;
    z-index: 1;
}

.right_smallchild_box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tech_right .right_smallchild1_box{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 126px;
    top: 160px;
    z-index: 2;
}

.right_smallchild1_box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tech_right .right_smallchild2_box{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 391px;
    top: 591px;
    z-index: 2;
}

.right_smallchild2_box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tech_right .right_child_box1{
    width: 373px;
    height: 494px;
    border-radius: 48px;
    border: 2px solid #111111;
    position: absolute;
    top: 60px;
    left: 56px;
}
.tech_right .right_child_box2{
    width: 400px;
    height: 600px;
    border-radius: 48px;
    position: absolute;
    top: 105px;
    left: 104px;
    z-index: 1;
}

.right_child_box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 48px;
}

.tech_right .right_child_box3{
    width: 310px;
    height: 476px;
    border-radius: 40px;
    border: 2px solid #111111;
    position: absolute;
    top: 280px;
    left: 240px;
}

.tech_right .watch_box_details{
    width: 252px;
    height: 53px;
    top: 143px;
    left: 299px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    background: #685FD4;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    color: white;
    position: absolute;
    z-index: 2;
}

.tech_right .watch_box_details2{
    width: 252px;
    height: 53px;
    top: 633px;
    left: 54px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    background: #685FD4;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    color: white;
    position: absolute;
    z-index: 2;
}

