.slider-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider-container1 .slider-scroll {
    display: flex;
    gap: 50px;
    padding: 20px;
    justify-content: center;
    height: 120px;
  }
  
  .slider-container1 .slider-item {
    text-align: center;
    background: transparent;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .slider-container1 .slider-img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .slider-container1  .slider-img.active-img {
    transform: scale(1.5);
    border: 2px solid rgb(26, 190, 26);
  }
  
  .slider-container1  .slider-details {
    text-align: center;
    width: 800px;
    border-radius: 10px;
  }
  
  .slider-container1 .slider-name {
    font-size: 1.5rem;
    margin: 5px 0;
  }
  
  .slider-container1 .slider-rating {
    color: #ffd700;
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .slider-container1 .slider-descriptor {
    color: black;
    font-size: 1em;
    font-weight: 500;
    margin: 5px 0;
  }
  
  .slider-container1 .slider-review {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
  }
  
  .slider-container1 .slider-buttons {
    position: absolute;
    top: 50%; /* Center the buttons vertically */
    transform: translateY(-50%);
    width: 100%; /* Ensure buttons are positioned relative to the container */
    display: flex;
    justify-content: space-between; /* Space the buttons apart */
  }
  
  .slider-container1 .prev-btn,
  .slider-container1 .next-btn {
    background: #279B5A;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.2rem;
  }
  
  .slider-container1 .prev-btn {
    position: absolute;
    left: 10px; /* Adjust distance from the left edge */
  }
  
  .slider-container1 .next-btn {
    position: absolute;
    right: 10px; /* Adjust distance from the right edge */
  }
  
  .slider-container1 .prev-btn:hover,
  .slider-container1 .next-btn:hover {
    background: #0056b3;
  }

@media screen and (max-width : 480px){
  .slider-container1  .slider-details{
    width: 100%;
  }

  .slider-container1 .slider-scroll {
    padding: 20px;
    width: 100%;
    gap: 10px;
  }

  .slider-container1 .slider-img {
    width: 40px;
    height: 40px;
  }
}